<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>TUAV</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <div class="app">
            <div class="center">
                <img id="logo" src="/static/tuav.png" alt="">
                <img id="drone_camera" src="" alt="">
                <div id="live" class="status"><div></div>Canlı</div>
                <div id="offline" class="status"><div></div>Görüntü Yayını Yok</div>
            </div>
        </div>
    </body>

    <script src="/static/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        const socket = io();
        let lastReceiveTime = 0;
        let timeout = undefined;

        socket.on("connect", function() {
            console.log("socket'e bağlanıldı")

            socket.on("show image", (data) => {
                clearTimeout(timeout);
                lastReceiveTime = Math.floor(Date.now() / 1000);

                document.getElementById("drone_camera").src = `data:image/jpg;base64,${data}`;

                document.getElementById("live").style.display = "flex";
                document.getElementById("offline").style.display = "none";

                timeout = setTimeout(() => {
                    document.getElementById("offline").style.display = "flex";
                    document.getElementById("live").style.display = "none";
                }, 3000);
            });
        });
    </script>

</html>